version: "3.4"
services:
  nginx:
    build:
      dockerfile: "./docker/nginx/Dockerfile"
      context: "."
      args:
        NGINX_CONF_LOCALPATH: "./docker/nginx/nginx.conf"
        ROOT_STATIC_LOCALPATH: "./static/*"
    restart: always
    ports:
    - "80:80"
  whereis:
    build:
      dockerfile: "./docker/go/Dockerfile"
      context: "."
      args:
        GO_SRC: "."
    ports:
    - "5000:5000"
    restart: always
